/* CSS PARA PRUEBAS DE ABRHAM */ 



.contenedor1
{
  background-color:#eb6e08;
  width:700px;
  padding: 10px 20px;
  margin-top: 2rem;
  margin-left:auto;
  margin-right: auto;
  position: relative;

}

img
{
 max-width: 100%;	
}

.pop-up
{
	
background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:1;
  pointer-events:auto;
  transition: all 1s;
	

}
#cierra:target{
  opacity:0;
  pointer-events:none;
	
}




