:root
{
	--primario:#7D706E;
	--secundario:#E4E138;
	--fuente:'open sans',sans-serif;
	--fuente_s:'lato';
}

.fondo
{
	background-color: aqua;
}

body {
	font-family: var(--fuente_s);
	font-weight: 400;	
}

.container {
	max-width: 1000px;
}

/* Header y Social */

.social {
	background: #E6E7E8;
	color: #404041;
	padding-top: 10px;
}

.verde {
	background: var(--secundario);
	padding-top: 15px;
}

.amarillo {
	background: var(--secundario);
	padding-top: 15px;
}

.fsocial {
	background: var(--primario);
	padding-top: 12px;
	padding-bottom: 5px;
}

.direc {
	padding-top: 10px;
}

header {
	background: var(--primario);
	color: #fff;
	max-height: 600px; 
	padding-top: 50px;

}

.follow {
	font-size: .8em;
}

.comunicate {
	padding-top: 50px;
	color: #fff;
	font-size: 1.2em;
}

.pull-right {
	padding-top: 60px;
	width: 60%
}
.pull-right1 {
	padding-top: 20px;
	width: 100%
}

/* Parrafos */

.parrafos {
	padding-top: 40px;
}

/* Navbar */

.nav {
	font-size: 1em;
}
.navbar-brand {
	padding-left: 45px;
	margin-top: -5px;
}

.navbar-default {
	background-color: #fff;
	border: none;
	font-size: 1.1em;
	font-family: var(--fuente);
	font-weight: 400;

}

.navbar-default .navbar-nav > li > a {
	color: var(--primario);
} 


/* Clase Active */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: var(--primario);
	background-color: #FFFFFF 
}

/* Clase Hover */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #FFFFFF;
	background-color: var(--primario);
} 

/* Clase Hover Sostenido (catálogo) */
.navbar-default .navbar-nav >.open > a,
.navbar-default .navbar-nav >.open > a:hover,
.navbar-default .navbar-nav >.open > a:focus {
	color: #fff;
	background-color: #9DB0D4;
}

/*Para quitar sombra vertical del carrusel*/

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/* Para hacer padding al inicio */

.inicio {
	padding-top: 50px;
}

.inicio1 {
	padding-top: 10px;
}

/* Para hacer padding al final */

.fin {
	padding-bottom: 20px;
}

.fin1 {
	padding-bottom: 50px;
}

/* Inline Height */

.altura {
	line-height: 35px;
}

/* Seccion Slogan */

.slogan {
	background: #7D706E; /*codiggo de color  HEXADECIMAL y la imagen de MSV tipo de imagen.SVG*/
	color: #fff;
	font-size: 2.5em;
	font-family: var(--fuente);
	font-weight: 400;
	padding-bottom: 30px;
	padding-top: 30px;
}

.slogan1{
	background: #9DB0D4;
	color: #fff;
	font-size: 3em;
	font-family: var(--fuente);
	font-weight: 400;
	padding-bottom: 30px;
	padding-top: 30px;
}

.seccionslogan {
	padding-top: 50px;
}

.formbg {
	background-color: var(--primario);
}

/* Responsive mapa */

.mapWrapper {
	position: relative;
	/* Aquí hay que hacer la division entre el largo y en ancho de la imagen,
	en este caso es de 1000 / 328 = 3.04878049 */
	padding-bottom: 30.4878049%;
	height: 0;
}

.mapWrapper iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Boton enviar */

.enviar {
	background: var(--secundario);
	color: #ffffff;
	font-family: var(--fuente)
}

.enviar:focus, .enviar:active, .enviar.active, .open > .dropdown-toggle.enviar {
	background: var(--primario);
	color: #ffffff;
}

.btn {
	padding: 10px 15px;
	border: 0 none;
	font-weight: 400;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn.sharp {
	border-radius: 0;
}

.form-control {
	border-radius: 0;
}
/* Estilos para tipografías*/

.blanco {
	color: #fff;
	font-size: 1.2em;
	font-family: var(--fuente);
	font-weight: 400;
}

.bold {
	color: #033572;
	font-size: 2.5em;
	font-family: var(--fuente);
	font-weight: 400;
}

.bold2 {
	color:#404041;
	font-size: .8em;
	font-family: var(--fuente);
	font-weight: 400;
}

.bold3 {
	color: var(--secundario);
	font-size: 2.5em;
	font-family: var(--fuente);
	font-weight: 400;
}

.paragraph {
	color: #404041;
	font-size: 1.2em;
	font-family: var(--fuente);
	font-weight: 400;
	line-height: 25px;
}

.paragraph1 {
	color: #404041;
	font-size: 1.2em;
	font-family: var(--fuente);
	font-weight: 400;
	line-height: 25px;
}

.titulodtc {
	color: var(--secundario);
	font-size: 1.5em;
	font-family: var(--fuente);
	font-weight: 400;
	padding-top: 20px;
}
}

.parrafodtc {
	font-size: 1.1em;
}

.servicio {
	color: #033572;
	font-size: 1.6em;
	font-family: var(--fuente);
	line-height: 25px;
	font-weight: 400;
	padding-top: 20px;
}

.formtxt {
	color: #FBFBFB;
	font-size: 1.1em;
	font-family: var(--fuente);
	font-weight: 400;
}

/* Estilos para galerías*/

.grey-box {
	background-color: #D1D2D4;
	height: 200px;
	margin-bottom: 10px;
	font-size: 1.5em;
	text-align: center;
	padding: 80px; 
}

.ups {
	font-size: 2em;
}

.cita {
	font-size: 2em;
	color: var(--principal);
}

.color {
	color: var(--secundario);
}

.contenedor-central {
	position: relative;
}

.centro-absoluto {
	width: 100%;
  	padding-top: 70px;
	overflow: auto;
	margin: auto;
	font-family: var(--fuente);
}

.container-contacto {
	max-width: 800px;
}

.clave {
	font-size: 1.5em;
	color: #2A388F;
}
.col-md-123{
	position:relative;
	min-height:1px;
	padding-right:15px;
	padding-left:15px;
	background-color: var(--primario)
}
.col-md{
	width:50%;
	position:relative;
	min-height:1px;
	padding-right:15px;
	padding-left:15px;
	float:right;
}
/*.cd-fade-out {
	opacity: .5;
}
.cd-top.cd-is-visible {
	visibility: visible;
}
.cd-top.cd-fade-out, .cd-top.cd-is-visible, .no-touch .cd-top:hover{
	    transition: opacity .3s 0s,visibility 0s 0s;
}
.ct-top{
	display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
	background-color: var(--secundario) url("..//imgs/cd-top-arrow.svg") no-repeat center 50%;
	z-index: 1001;
}*/
.cd-top
{
	display:inline-block;
	height:40px;
	width:40px;
	position:fixed;
	bottom:40px;
	right:10px;
	box-shadow:0 0 10px rgba(50,50,50,.05);
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	background:var(--secundario) url("../imgs/cd-top-arrow.svg") no-repeat center 50%;
	visibility:hidden;
	opacity:0;
	-webkit-transition:opacity .3s 0s,visibility 0s .3s;
	transition:opacity .3s 0s,visibility 0s .3s;
	z-index:1001
}
.cd-top.cd-fade-out,.cd-top.cd-is-visible,.no-touch .cd-top:hover
{
	-webkit-transition:opacity .3s 0s,visibility 0s 0s;
	transition:opacity .3s 0s,visibility 0s 0s
}
.cd-top.cd-is-visible
{
	visibility:visible;
	opacity:1
}
.cd-top.cd-fade-out
{
	opacity:.5
}
.no-touch .cd-top:hover
{
	background-color:var(--secundario);
	opacity:1
}



#foot {
	margin: 0;
}
#seccion_clientes
{
	background-color: var(--primario);
	padding-bottom: 50px;
}