
#stacks_in_163_page2 .stacks_left {
	float:left;
	width:66%;
}

#stacks_in_163_page2 .stacks_right {
	float:right;
	width:34%;
}

/* Start doobox doo a map css */
.stacks_in_144_page2script{
	display: none;
	height: 0px;
	margin: 0;
	padding: 0;
}

#stacks_in_144_page2overlay {
	display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    z-index: 100001;
}

#stacks_in_144_page2modal {
	position:fixed;
	top:50%;
	left:50%;
	display: none;
    background:#fff;
    border-radius:4px;
    padding:20px;
    z-index: 100002;
}

#stacks_in_144_page2print {
	display: none;
}

#stacks_in_144_page2modalcontent {
margin-top: 10px;
}

#stacks_in_144_page2close {
    position:absolute;
    top:3px;
    right:10px;
    cursor: pointer;
}

.stacks_in_144_page2dooamap{
	padding: 0;
	margin: 0;
}

.stacks_in_144_page2widthWrapper{
	max-width: 400px;
	margin: 0 auto 0 auto;
}

.stacks_in_144_page2mapcontainer{
	position:relative;
	padding: 0;
	height: auto;
	max-width: 400px;
	max-height: 400px;
	background: #cccccc;
	margin: 0 auto 0 auto;
	overflow: hidden;
	z-index: 1;
}

.stacks_in_144_page2mapWrapper{
	position:relative;
	margin: 0;
	padding: 0;
}

.stacks_in_144_page2mapWrapper img{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}


/* for backward compatability only */
.stacks_in_144_page2oldlabelWrapper{
	display:none;
	height: 0;
	margin: 0;
	padding: 0;
}
/* end backward compatability only */





.stacks_in_144_page2buttonWrapper{
position:absolute;
width:6%;
min-width: 30px;
height:auto;
right:15px;
top:15px;
cursor:pointer;
z-index: 2;
}

.stacks_in_144_page2mapplus{
z-index: 3;
}

.stacks_in_144_page2mapminus{
z-index: 3;
margin-top: 3px;
}

.stacks_in_144_page2mapplus img{
width: 100%;
height: auto;
}

.stacks_in_144_page2mapminus img{
width: 100%;
height: auto;
}

#stacks_in_144_page2getdirections{
margin-top: 7px;
z-index: 3;
}


#stacks_in_144_page2getdirections img{
width: 100%;
height: auto;
}


/* end doobox doo a map css */	
	/* start image list from doobox css */
	
	
	#stacks_in_153_page2 .stacks_in_153_page2imagelist {
		list-style: none;
		list-style-type: none;
		margin:0px 0;
		
	}
	
	#stacks_in_153_page2 .stacks_in_153_page2listIcon {
		float:left;
	}
	
	#stacks_in_153_page2 .stacks_in_153_page2listIcon img{
		width:32px;
		height: auto;
	}
	
	
	#stacks_in_153_page2 .stacks_in_153_page2listTitle {

		margin-left:50px;
		padding-bottom: 0px;
		font-weight: bold;
		font-size: 115%;
	}
	
	
	#stacks_in_153_page2 .stacks_in_153_page2listContent {
		display: block;
		margin-left:50px;
		padding-top: 0px;
		padding-bottom: 18px;
	}
	
	.stacks_in_153_page2breaker{
	margin: 0;
	padding: 0;
	height: 1px;
	clear: both;
	}
	
	
	/* end image list from doobox css */
		
	/* start image list from doobox css */
	
	
	#stacks_in_720_page2 .stacks_in_720_page2imagelist {
		list-style: none;
		list-style-type: none;
		margin:0px 0;
		
	}
	
	#stacks_in_720_page2 .stacks_in_720_page2listIcon {
		float:left;
	}
	
	#stacks_in_720_page2 .stacks_in_720_page2listIcon img{
		width:32px;
		height: auto;
	}
	
	
	#stacks_in_720_page2 .stacks_in_720_page2listTitle {

		margin-left:50px;
		padding-bottom: 0px;
		font-weight: bold;
		font-size: 115%;
	}
	
	
	#stacks_in_720_page2 .stacks_in_720_page2listContent {
		display: block;
		margin-left:50px;
		padding-top: 0px;
		padding-bottom: 18px;
	}
	
	.stacks_in_720_page2breaker{
	margin: 0;
	padding: 0;
	height: 1px;
	clear: both;
	}
	
	
	/* end image list from doobox css */
	