
#stacks_in_584_page4 .stacks_left {
	float:left;
	width:54%;
}

#stacks_in_584_page4 .stacks_right {
	float:right;
	width:44%;
}
#stacks_out_194_page4 {
	width: 250px;
}
/* RollingButtonThing by RapidWeaver Central  */

#rollingbuttonthingstacks_in_591_page4 {
	text-align: fill;
}


		#stacks_in_591_page4 .rollingbuttonthing {
		width: 100%;
    	}


#stacks_in_591_page4 .rollingbuttonthing  {
	display: inline-block;
   	cursor: pointer;
    height: 48px;
	
	padding: 0 0px;
    overflow: hidden;
    text-align: center;
	background-color: #0092D1;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
}

#stacks_in_591_page4 .rollingbuttonthing .labelthing {
	white-space: nowrap !important; 
   	background: transparent;
	line-height: 48px !important;
    position: relative;
    top: 0%;
	color: #FFFFFF;
	font-size: 13px;
	text-shadow: 0 1px 0px #333333;
	text-shadow:none;
	text-transform: none;;
	letter-spacing:0px;;
	font-weight:normal;;
  	-webkit-user-select: none;
	   -moz-user-select: none;
			user-select: none;
    -webkit-transition: top 0.35s;
       -moz-transition: top 0.35s;
	    	transition: top 0.35s;
}

#rollingbuttonthingstacks_in_591_page4 a:link {
	text-decoration: none !important;
	white-space: normal !important; 
}

#stacks_in_591_page4 .rollingbuttonthing:hover .labelthing {
	line-height: 48px;
    top: -100%;
	color: #FFFFFE;
 	
}

#stacks_in_591_page4 .rollingbuttonthing:hover {   
	background: #0092D1;
  	-webkit-backface-visibility: hidden;
    -webkit-transition:.2s;  
       -moz-transition:.2s;  
     		transition:.2s;
}

#stacks_in_591_page4 .rollingbuttonthing:active {
    background-color: #fff;
    -webkit-transition:.2s;  
       -moz-transition:.2s;  
     		transition:.2s;
}
